base_images:
  base:
    name: ubi
    namespace: ocp
    tag: "7"
binary_build_commands: make build
build_root:
  image_stream_tag:
    name: release
    namespace: openshift
    tag: golang-1.13
images:
- dockerfile_path: Dockerfile
  from: bin
  inputs:
    base:
      as:
      - runtime
      paths: null
    bin:
      as:
      - builder
      paths: null
  to: redhat-operator-ecosystem-playground
promotion:
  namespace: ci
  tag: latest
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
tag_specification:
  name: "4.4"
  namespace: ocp
tests:
- as: unit
  commands: make test-unit
  container:
    from: src
- as: perf
  commands: make test-perf
  container:
    from: src
- as: e2e
  commands: make test-e2e
  openshift_installer_src:
    cluster_profile: aws
- as: e2e-periodic
  commands: make test-e2e
  cron: '@yearly'
  openshift_installer_src:
    cluster_profile: aws
zz_generated_metadata:
  branch: master
  org: redhat-operator-ecosystem
  repo: playground
